@{
    ViewData["Title"] = "Projeto Web";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    <strong>Responsavel: </strong> @ViewData["Nome"]
</p>
<p>
    <strong>Email: </strong> @ViewData["Email"]
</p>
